* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 5px auto;
}
.row div {
  margin-left: 3px;
  margin-right: 3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-1, .row .md-1, .row .lg-1 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-2, .row .md-2, .row .lg-2 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-3, .row .md-3, .row .lg-3 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-4, .row .md-4, .row .lg-4 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-5, .row .md-5, .row .lg-5 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-6, .row .md-6, .row .lg-6 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-7, .row .md-7, .row .lg-7 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-8, .row .md-8, .row .lg-8 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-9, .row .md-9, .row .lg-9 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-10, .row .md-10, .row .lg-10 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-11, .row .md-11, .row .lg-11 {
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .sm-12, .row .md-12, .row .lg-12 {
  flex-basis: 100%;
}

@media (max-width: 480px) {
  .row {
    display: block;
  }
  .row .xs-1 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-2 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-3 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-4 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-5 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-6 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-7 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-8 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-9 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-10 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-11 {
    width: 100%;
  }

  .row {
    display: block;
  }
  .row .xs-12 {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-1 {
    flex-basis: calc(8.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-2 {
    flex-basis: calc(16.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-3 {
    flex-basis: calc(25% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-4 {
    flex-basis: calc(33.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-5 {
    flex-basis: calc(41.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-6 {
    flex-basis: calc(50% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-7 {
    flex-basis: calc(58.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-8 {
    flex-basis: calc(66.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-9 {
    flex-basis: calc(75% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-10 {
    flex-basis: calc(83.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-11 {
    flex-basis: calc(91.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .sm-12 {
    flex-basis: calc(100% - 6px);
  }
}
@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-1 {
    flex-basis: calc(8.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-2 {
    flex-basis: calc(16.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-3 {
    flex-basis: calc(25% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-4 {
    flex-basis: calc(33.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-5 {
    flex-basis: calc(41.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-6 {
    flex-basis: calc(50% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-7 {
    flex-basis: calc(58.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-8 {
    flex-basis: calc(66.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-9 {
    flex-basis: calc(75% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-10 {
    flex-basis: calc(83.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-11 {
    flex-basis: calc(91.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .md-12 {
    flex-basis: calc(100% - 6px);
  }
}
@media (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-1 {
    flex-basis: calc(8.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-2 {
    flex-basis: calc(16.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-3 {
    flex-basis: calc(25% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-4 {
    flex-basis: calc(33.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-5 {
    flex-basis: calc(41.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-6 {
    flex-basis: calc(50% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-7 {
    flex-basis: calc(58.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-8 {
    flex-basis: calc(66.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-9 {
    flex-basis: calc(75% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-10 {
    flex-basis: calc(83.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-11 {
    flex-basis: calc(91.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row .lg-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-1 {
    flex-basis: calc(8.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-2 {
    flex-basis: calc(16.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-3 {
    flex-basis: calc(25% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-4 {
    flex-basis: calc(33.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-5 {
    flex-basis: calc(41.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-6 {
    flex-basis: calc(50% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-7 {
    flex-basis: calc(58.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-8 {
    flex-basis: calc(66.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-9 {
    flex-basis: calc(75% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-10 {
    flex-basis: calc(83.33333% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .row .lg-11 {
    flex-basis: calc(91.66667% - 6px);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row .lg-12 {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
