* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: block;
}
.grid .sm-1, .grid .md-1, .grid .lg-1 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-2, .grid .md-2, .grid .lg-2 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-3, .grid .md-3, .grid .lg-3 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-4, .grid .md-4, .grid .lg-4 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-5, .grid .md-5, .grid .lg-5 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-6, .grid .md-6, .grid .lg-6 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-7, .grid .md-7, .grid .lg-7 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-8, .grid .md-8, .grid .lg-8 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-9, .grid .md-9, .grid .lg-9 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-10, .grid .md-10, .grid .lg-10 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-11, .grid .md-11, .grid .lg-11 {
  width: 100%;
}

.grid {
  display: block;
}
.grid .sm-12, .grid .md-12, .grid .lg-12 {
  width: 100%;
}

@media (max-width: 480px) {
  .grid {
    display: block;
  }
  .grid .xs-1 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-2 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-3 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-4 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-5 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-6 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-7 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-8 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-9 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-10 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-11 {
    width: 100%;
  }

  .grid {
    display: block;
  }
  .grid .xs-12 {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-1 {
    flex-basis: 8.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-2 {
    flex-basis: 16.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-3 {
    flex-basis: 25%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-4 {
    flex-basis: 33.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-5 {
    flex-basis: 41.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-6 {
    flex-basis: 50%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-7 {
    flex-basis: 58.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-8 {
    flex-basis: 66.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-9 {
    flex-basis: 75%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-10 {
    flex-basis: 83.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-11 {
    flex-basis: 91.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .sm-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-1 {
    flex-basis: 8.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-2 {
    flex-basis: 16.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-3 {
    flex-basis: 25%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-4 {
    flex-basis: 33.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-5 {
    flex-basis: 41.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-6 {
    flex-basis: 50%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-7 {
    flex-basis: 58.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-8 {
    flex-basis: 66.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-9 {
    flex-basis: 75%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-10 {
    flex-basis: 83.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-11 {
    flex-basis: 91.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .md-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-1 {
    flex-basis: 8.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-2 {
    flex-basis: 16.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-3 {
    flex-basis: 25%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-4 {
    flex-basis: 33.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-5 {
    flex-basis: 41.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-6 {
    flex-basis: 50%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-7 {
    flex-basis: 58.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-8 {
    flex-basis: 66.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-9 {
    flex-basis: 75%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-10 {
    flex-basis: 83.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-11 {
    flex-basis: 91.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid .lg-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-1 {
    flex-basis: 8.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-2 {
    flex-basis: 16.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-3 {
    flex-basis: 25%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-4 {
    flex-basis: 33.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-5 {
    flex-basis: 41.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-6 {
    flex-basis: 50%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-7 {
    flex-basis: 58.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-8 {
    flex-basis: 66.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-9 {
    flex-basis: 75%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-10 {
    flex-basis: 83.33333%;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid .lg-11 {
    flex-basis: 91.66667%;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid .lg-12 {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
